doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(href='https://fonts.googleapis.com/css?family=Indie+Flower', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')
    title Bilgi Yarışması
  body
    section#player-section
      .container
        #players.row
          .col-md-4.player-box.offset-md-1 Player 1
          .col-md-4.player-box Player 2
    section#question-section
      .container
        .row
          .col-md-12
            span SORU
            p#question
              | Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              | Similique vero dolore impedit voluptas blanditiis cum assumenda accusantium laudantium,
              | molestiae architecto neque modi esse porro perferendis vel necessitatibus consequuntur?
              | Nisi, officiis.
    section#option-section
      .container
        .row
          .col-md-5.offset-md-1.mr-2
            span A -
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
          .col-md-5
            span B -
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        .row
          .col-md-5.offset-md-1.mr-2
            span C -
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
          .col-md-5
            span D -
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    script(src='javascripts/jquery.min.js')
    script(src='javascripts/bootstrap.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='javascripts/competition.js')
