doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(href='https://fonts.googleapis.com/css?family=Indie+Flower', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')
    title Bilgi Yarışması
  body
    section#player-section
      .container
        #players.row
          .col-md-4.col-sm-4.col-xs-12.player-box.offset-md-1#p1 Player 1
            span#pt1
          .col-md-4.col-sm-4.col-xs-12.player-box#p2 Player 2
            span#pt2
    section#question-section
      .container
        .row
          .col-md-12.col-sm-12.col-xs-12
            span#question-header SORU
            p#question
              
    section#option-section
      .container
        .row
          #opt-a.col-md-5.offset-md-1.mr-2.col-sm-12.col-xs-12.opt
            span A -
            p#option-a-txt
          #opt-b.col-md-5.opt
            span B -
            p#option-b-txt
        .row
          #opt-c.col-md-5.offset-md-1.mr-2.opt
            span C -
            p#option-c-txt
          #opt-d.col-md-5.opt
            span D -
            p#option-d-txt
    script(src='javascripts/jquery.min.js')
    script(src='javascripts/bootstrap.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='javascripts/competition.js')
