doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/login.css')
    title Giriş Yap | Bilgi Yarışması
  body
    .container
      .row
        .col-md-4.offset-md-5.mt-3
          img.img(src='/images/logo.png')
      .row
        .col-md-12.login-header
          h2.mt-3 BİLGİ YARIŞMASI
          h3 HOŞGELDİNİZ!
      .row.login-box
        .col-md-12
          form
            .form-group.row
              label.col-md-12.col-form-label(for='UserEmail') Email
              .col-md-12
                input#UserEmail.form-control(type='text', placeholder='Email')
            .form-group.row.txt-box
              label.col-md-12.col-form-label(for='UserPassword') Parola
              .col-md-12
                input#UserPassword.form-control(type='password', placeholder='Şifre')
            .form-group.row.txt-box
              .col-md-12.mt-3
                button.btn.btn-signin.btn-large.pull-right GİRİŞ YAP
                a(href="/signup") Kayıt Ol
    script(src='javascripts/jquery.min.js')
    script(src='javascripts/bootstrap.min.js')
